name: Terraform Deployment
on:
  workflow_dispatch:
    inputs:
      env:
        type: choice
        description: Select an Environment
        options:
        - dev
        - stg
        - prod

jobs:
  terraform:
    name: Terraform Deploy to ${{ github.event.inputs.env }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: hashicorp/setup-terraform@v3
      - name: Azure login
        if: ${{ github.event.inputs.env == 'dev' }}
        uses: azure/login@v1
        with:
          creds: ${{ secrets.DEV_AZURE_CREDENTIALS }}
      - name: Azure login
        if: ${{ github.event.inputs.env == 'stg' }}
        uses: azure/login@v1
        with:
          creds: ${{ secrets.STG_AZURE_CREDENTIALS }}
      - name: Azure login
        if: ${{ github.event.inputs.env == 'prod' }}
        uses: azure/login@v1
        with:
          creds: ${{ secrets.PRD_AZURE_CREDENTIALS }}
      - name: Initialize Terraform
        run: |
          make init ENV=${{ inputs.env }}
        shell: bash
      - name: Terraform apply
        run: |
          make apply ENV=${{ inputs.env }}
        shell: bash

